.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    aspect-ratio: 1;
    border-radius: 10%;
    border: none;
    background: linear-gradient(45deg, #ff9999, #66ccff, #ffcc66, #99ff99);
    color: var(--color-background-900);    padding: 8px 15px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

 