/* Footer styles */
.footer {
 
    background-color: var(--color-primary); /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding */
    text-align: center; /* Center-align text */
    margin-top: 150px;
    width: 100%;
  }
  
  .footer-content {
    /* max-width: 1200px;  */
    margin: 0 auto; /* Center content */
  }
  
  @media all and (max-width:600px){
    .footer {
      margin-top: 214px;

      }
  }