.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.2rem;
    padding: 0 3.2rem;
    background-color: var(--color-primary);
    border-radius: 0.9rem;
    
  
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
gap: 10%;
}

@media all and (max-width:600px){
    .navBar{

        padding: 0 1rem
    
    }
    .left{

        gap: 2%;
    }  
}