.box {
    background-color: var(--color-background-500);
    overflow-x: hidden;
    overflow-y: auto;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 2px; 
    border-style: solid;
    border-image: linear-gradient(90deg, #ff9999, #66ccff, #ffcc66, #99ff99) 1;
    border-image-slice: 10;
 
  }
.border-box{
  background-color: transparent;
  border: 1px solid var(--color-primary)
}
.box30 {
  flex: 0 0 30%;
  background-color:transparent ;
  position: sticky;
  top: 2rem;
  left: 0;
 height: 600px;
}

.box70 {
  flex: 0 0 68%; 
  border: none;

}
@media all and (max-width:600px) {
  .box30{
    position: inherit;
  }
}

